:root {
    --bg1: #091942;
    --bg2: #2e2e2e;
    --bg3: #7cffcb;
    --bg4: #9ed3c8;
    --bg5: #f16320;
    --bg6: #f8f2da;
}

body {
    font-family: sans-serif;
    background-image: url('../img/popcorn.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 2500px;
}

.bg1 {
    background-color: #091942;
}

.bg2 {
    background-color: #197278;
}

.bg3 {
    background-color: #edddd4;
}

.bg4 {
    background-color: #c44536;
}

.bg5 {
    background-color: #772e25;
}

nav {
    background-color: var(--bg5);
    color: white;
    font-size: 1.6em;
}

nav:link {
    color: white;
}

nav a {
    color: white;
}

a {
    color: white;
    /* text-decoration: none; */
}

a:visited {
    color: white;
}

nav ul {
    list-style-type: none;
}

h1 {
    color: var(--bg2);
    z-index: 2;
    font-size: 5em;
    text-align: center;
    align-self: flex-end;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0);
    min-height: 350px;
}

article {
    background-color: rgba(0, 0, 50, 0.6);
    color: white;
}

.category-title {
    padding-top: 25px;
    margin: 0;
    min-height: 55px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.listed-reviews {
    color: white;
    background-color: rgba(0, 0, 20, 0.9);
}

.list-title {
    padding-left: 120px;
    padding-right: 120px;
    background-color: var(--bg4);
}

.single-review {
    padding-left: 120px;
    padding-right: 120px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.single-review:first-child {
    margin-top: 50px;
}

.movie-review-title {
    color: white;
    margin-left: 200px;
}

.movie-review-title h2:first-child {
    font-size: 5em;
    display: inline;
}

.movie-review-title h2:last-child {
    display: inline;
    margin-left: 50px;
}

.review-detail {
    color: black;
    background-color: var(--bg6);
    padding: 50px;
}

.hashtag-index {
    color: white;
    font-size: 1.8em;
}

.hashtag-index p {
    padding: 20px;
    margin: 10px;
    background-color: var(--bg4);
}
/* 
these are for the hashtags at the bottom
of single reviews */
.hashtags{
    font-size: 1em;

}