<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> All Hashtags</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <header>
        <img src="img/header.png" alt="header" class="header-image">
            <nav>
                <ul>
                    <a href="/"> <li>Home</li></a>
                    <a href="/reviews"><li>All Reviews</li></a>
                    <a href="/hashtags"><li>All Hashtags</li></a>

                </ul>
            </nav>
        <h1 class="header-title"> All Hashtags</h1>
    </header>
<div class="hashtag-index">

    <a th:each="hashtag:${allHashtags}" th:href="${'/'}">
    <p th:text="${hashtag.getHashtag()}"></p>
    </a>

</div>

</body>

</html>