<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> Category: Comedy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
    <header>
        <img src="../img/header.png" alt="header" class="header-image">
        <nav>
            <ul>
                <a href="/"> <li>Home</li></a>
                <a href="/reviews"><li>All Reviews</li></a>
                <a href="/hashtags"><li>All Hashtags</li></a>

            </ul>
        </nav>
        <h1 th:text="${categories.genre}" class="header-title"> Comedy</h1>
    </header>



    <section class="all-boxes">
        <article th:each="movie:${categories.movies}"   >
            <a th:href="@{'/movies/'+ ${movie.title}}" >
            <h2 class="category-title" th:text="${movie.title}"> </h2>
            </a>
        </article>

        <article>
            <form class="add-movie" action="/add-movie" method="POST">
                <h2>Add Movie </h2>
                <input name="movieName" type="text"> Name
                <input name="genre" th:value="${categories.genre}">
                <input name="imgUrl" type="hidden" value="some-value"> <br>
                <button type="submit">Make A New Movie</button>

            </form>
        </article>

    </section>
</body>

</html>