<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> All Categories</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <header>
        <img src="img/header.png" alt="header" class="header-image">
        <nav>
            <ul>
                <a href="index.html"> <li>Home</li></a>
                <a href="reviews.html"><li>All Reviews</li></a>
                <a href="hashtags.html"><li>All Hashtags</li></a>
                <a href="create.html"><li>Create Review</li></a>
            </ul>
        </nav>
        <h1   class="header-title"> All Categories</h1>
    </header>
   


<section class="all-boxes">
    <article th:each="category:${categories}"  >
        <h2 class="category-title" ><a th:text="${category.genre}" th:href="@{'/categories/'+ ${category.genre}}"> Drama</a></h2>
        <img th:src="@{'img/' + ${category.imgUrl} + '.png'}" th:alt="${category.imgUrl}" class="category-picture">
    </article>

<!--    <article>-->
<!--        <a href="category_comedy.html">-->
<!--        <h2 class="category-title"> Comedy</h2>-->
<!--            <img src="img/comedy.png" alt="comedy" class="category-picture">-->
<!--        </a>-->
<!--    </article>-->

<!--    <article>-->
<!--            <h2 class="category-title"> Action / Adventure</h2>-->
<!--            <img src="img/action.png" alt="action" class="category-picture">-->
<!--    </article>-->

<!--    <article>-->
<!--        <h2 class="category-title"> Thriller / Horror</h2>-->
<!--            <img src="img/thriller.png" alt="thriller" class="category-picture">-->
<!--    </article>-->

<!--    <article>-->
<!--    <h2 class="category-title"> Documentary</h2>-->
<!--        <img src="img/documentary.png" alt="documentary" class="category-picture">-->
<!--    </article>-->
<!--    <article>-->
<!--        <h2 class="category-title"> Other</h2>-->
<!--            <img src="img/other.png" alt="other" class="category-picture">-->
<!--    </article>-->

</section>
</body>

</html>