<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >

<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> Reviews With #Comedy</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>

<body>
    <header>
        <img src="img/header.png" alt="header" class="header-image">
        <nav>
            <ul>
                <a href="index.html">
                    <li>Home</li>
                </a>
                <a href="reviews.html">
                    <li>All Reviews</li>
                </a>
                <a href="hashtags.html">
                    <li>All Hashtags</li>
                </a>
                <a href="create.html">
                    <li>Create Review</li>
                </a>
            </ul>
        </nav>
        <h1 class="header-title" th:text="'All Reviews With ' + ${hashtagName}">  </h1>
    </header>
    <section class="listed-reviews">

        <div class="single-review list-title">
            <div class="review-title">
                <h2>Movie Title</h2>
            </div>
            <div class="review-num-stars">
                <h2>Movie Rating</h2>
            </div>
            <div class="review-date-time">
                <h2>Date Reviewed</h2>
            </div>
            <div class="review-summary">
                <h2>Review Description</h2>
            </div>
        </div>

        <div th:each="reviewDetail:${reviewsFromHash.}"  class="single-review">
            <div class="review-title">
                <p th:text="reviewDetail.getMovieTitleFromReview()"></p>
            </div>
            <div class="review-num-stars">
                <p>4.5 Out Of 5 </p>
            </div>
            <div class="review-date-time">
                <p> February 3, 2020</p>
            </div>
            <div class="review-summary">
                <p> initial impressions: Light weight, doesn't feel bulky or
                    huge on the wrist. I can hardly notice it's there at times
                    when I’m wearing it....
                </p>
            </div>
        </div>




      

      

    </section>
</body>

</html>