<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title> Reviews With #Comedy</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">
</head>

<body>
    <header>
        <img src="img/header.png" alt="header" class="header-image">
        <nav>
            <ul>
                <a href="/"> <li>Home</li></a>
                <a href="/reviews"><li>All Reviews</li></a>
                <a href="/hashtags"><li>All Hashtags</li></a>

            </ul>
        </nav>
        <h1 class="header-title"> All Reviews </h1>
    </header>
    <section class="listed-reviews">

        <div class="single-review list-title">
            <div class="review-title">
                <h2>Movie Title</h2>
            </div>
            <div class="review-num-stars">
                <h2>Movie Rating</h2>
            </div>
            <div class="review-date-time">
                <h2>Author</h2>
            </div>
            <div class="review-summary">
                <h2>Review Description</h2>
            </div>
        </div>

        <div th:each="review:${reviews}"   class="single-review">
            <div class="review-title">
                <a th:href="@{'/reviews/' + ${review.reviewId}}">
                <p th:text="${review.getMovieTitleFromReview()}"></p>
                </a>
            </div>
            <div class="review-num-stars">
                <a th:href="@{'/reviews/' + ${review.reviewId}}">
                <p th:text="${review.getRating()} + ' out of 5'" > </p>
                </a>
            </div>
            <div class="review-date-time">
                <p th:text="${review.getAuthor()}"> </p>
            </div>
            <div class="review-summary">
                <a th:href="@{'/reviews/' + ${review.reviewId}}">
                <p th:text="${review.getComments()}">
                </p>
                </a>
            </div>
        </div>





      

      


    </section>
</body>

</html>