<!DOCTYPE html>
<html lang= "en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <head>
        <meta name=-"viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
        <title th:text="'reviews for '+ ${review.author}" >
        </title>
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="stylesheet" href="../../css/layout.css">
    </head>

<body>
    <header>
        <img src="../../img/header.png" alt="header" class="header-image">
        <nav>
            <ul>
                <a href="/"> <li>Home</li></a>
                <a href="/reviews"><li>All Reviews</li></a>
                <a href="/hashtags"><li>All Hashtags</li></a>

            </ul>
        </nav>
        <h1 th:text="'Review for: ' +  ${review.getMovieTitleFromReview()}"class="header-title">  </h1>
    </header>

    <div class="movie-review-title">
        <a th:href="@{'/movies/' + ${review.getMovieTitleFromReview()}}">
        <h2 th:text="   ${review.getMovieTitleFromReview()}">

        </h2>
        </a>

        <h2 th:text="'Review By: ' + ${review.getAuthor()}"></h2>
    </div>

    <section class="review-detail">
        <div class="review-detail1">


            <h3 th:text="${review.getAuthor()}"> </h3>
            <h4><!-- Date goes here --></h4>
            <p th:text="${review.getComments()}">

            </p>
            <div class="hashtags hashtag-index">
                <form method = "POST" th:action = "'/reviews/'+ ${reviewId} + '/add-hashtag'" >
                <input type="text" name="hashTag">
                <button type="submit">Add Hashtag</button>
            </form>
                <a th:each="hashtag : ${review.getHashtags()}"  th:href="@{'/hashtags/' + ${hashtag.hashtag}}">
                    <p th:text="${hashtag.hashtag}">
                    </p>
                </a>
            </div>

        </div>

        <div class="review-detail2">

            <img src="../../img/documentary.png" class="review-detail-picture" alt="movie picture">
            <h3 th:text="${review.getMovieTitleFromReview()}"> </h3>
            <div class="movie-num-stars">
            </div>
            <div th:text="${review.getRating()} + ' out of 5 stars'" class="movie-review-info">

            </div>
        </div>

    </section>
</body>

</html>